#img1
{
	border-top-style:dotted ;
	border-right-style:solid;
	border-bottom-style:dashed;
	border-left-style:solid;
}

#img2
{
	border-radius:30px;
}

#img3
{

}

#img4
{
	border:5px solid red;
}

#img5
{

}

#img6
{

}
